body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.header-content {
    margin-top: 1em;
}

.header-content h1 {
    margin: 0;
}

.header-content p {
    margin: 0.5em 0;
}

.profile-img {
    width: 150px; /* Set width */
    height: 150px; /* Set height to match width */
    object-fit: cover; /* Ensures image covers the dimensions without stretching */
    border-radius: 50%; /* Makes the image circular */
    display: block; /* Ensures the image is displayed as a block-level element */
    margin-left: auto; /* Centers image horizontally */
    margin-right: auto; /* Centers image horizontally */
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 100%; /* Full width of container */
    max-width: 100%; /* Limit the width for better readability */
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
}